<nav class="fixed top-0 w-full z-50 bg-[#0A0A0A] border-b border-[#222222] no shadows">
    <div class="max-w-[1280px] mx-auto flex items-center justify-between h-16 px-6 md:px-12">
        <a class="nav-link text-xl font-black tracking-tighter text-white" href='/index.html'>Matrixbreach INNOVATIONS</a>
        <div class="hidden md:flex items-center gap-8 font-['Inter'] font-medium tracking-tight text-sm uppercase">
            <a class="nav-link text-neutral-400 hover:text-white hover:bg-[#111111] hover:text-[#175CFF] transition-colors duration-200"
                href="/pages/products/">Products</a>
            <a class="nav-link text-neutral-400 hover:text-white hover:bg-[#111111] hover:text-[#175CFF] transition-colors duration-200" href="/pages/build/">Build</a>
            <a class="nav-link text-neutral-400 hover:text-white hover:bg-[#111111] hover:text-[#175CFF] transition-colors duration-200"
                href="/pages/tools/">Tools</a>
            <!-- <a class="text-neutral-400 hover:text-white hover:bg-[#111111] hover:text-[#175CFF] transition-colors duration-200"
                href="/pages/contact-us/">Contact</a> -->
            <a class="nav-link text-neutral-400 hover:text-white hover:bg-[#111111] hover:text-[#175CFF] transition-colors duration-200"
                href="/pages/about-us/">About Us</a>
        </div>
        <div class="flex items-center gap-4">
            <span
                class="material-symbols-outlined text-neutral-400 cursor-pointer hover:text-white transition-colors">terminal</span>
            <a class="bg-[#175CFF] text-white px-4 py-2 text-xs font-bold uppercase tracking-widest active:scale-95 transition-transform duration-100"
                href='/pages/contact-us/'>
                Contact Us
            </a>
        </div>
    </div>
</nav>